.register-container{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.infoInput {
    display:flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input{
    height: 2.5rem;
}

input:focus {
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}