<div class="display-5 text-center mb-5 bg-secondary p-3 text-light">Login Screen</div>

<div class="container login-container col-md-8 col-lg-4 p-md-3 p-lg-5">
    <form>
        <h2 class="mb-4">Welcome Back!</h2>
        <div class="email my-3">
            <label for="emailInput" class="fs-5 text">Email Address:</label>
            <input id="emailInput" type="email" class="ps-3">
        </div>
        <div class="password my-3">
            <label for="passwordInput" class="fs-5 text">Password:</label>
            <input id="passwordInput" type="password" class="ps-3">
        </div>
        <button type="submit" class="btn btn-success btn-lg col-12 mt-4">Login</button>
    </form>

    <div class="continar text-center mt-3">
        <p>Don't have an account?</p>
        <p class="text-decoration-underline">Register one</p>
    </div>
</div>
