.login-container{    
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.password, .email {
    display: flex;
    flex-direction: column;
}

#passwordInput, #emailInput {
    height: 2.5rem;
}

#passwordInput:focus, #emailInput:focus{
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

